$darkbrown: #5c3e3e;
$darkgreen: #00522e;
$forestgreen: #568556;
$lightbrown: #795757;
$lightred: #f47d4e;
$lightyellow: #fdffdb;
$lightgrey: #f0f0f0;
$neonblue: #00b8d2;
$neongreen: rgb(30, 198, 30);
$regular-font: 'Share Tech', sans-serif;
$skyblue: #0090c4;
$title-font: 'Sarpanch', sans-serif;