@import '_variables.scss';

.commands-modal {
    animation: popUp .5s ease 0s 1 normal;     
    background-color: $lightyellow;
    border: 3px solid black;
    border-radius: 15px;
    bottom: 0;
    height: 70%;
    left: 0;
    margin: auto;
    overflow: scroll;
    padding: 35px;
    position: absolute;
    right: 0;
    top: 30px;
    width: 65%;
    z-index: 10;
    button {
        background-color: $lightgrey;
        border: 2px solid black;
        border-radius: 50%;
    }
}
.button-container {
    align-items: right;
    display: flex;
    justify-content: flex-end;
}