.app-container {
  display: grid;
  .reset-button, .keys-button, .allcommands-button {
    position: absolute;
    width: 130px;
    border-radius: 15px;
    top: 15px;
    right: 18px;
    font-size: 15px;
    padding: 3px;
    color: #515a5f;
    background-color: #cbedf1;
    border: 2px solid #0079ba;
    letter-spacing: 1.7px;
    cursor: pointer;
    &:hover {
      background-color: #67d4e7;
    }
  }
    .keys-button {
      top: 49px;
      }
      .allcommands-button {
        top: 83px;
      }
}

