@import '_variables.scss';

.key-modal {
    // animation: popUp .5s ease 0s 1 normal;     
    background-color: #ffc8c8;
    border: 3px solid black;
    bottom: 0;
    height: 25%;
    left: 0;
    margin: auto;
    overflow: scroll;
    padding: 35px;
    position: absolute;
    right: 0;
    top: -225px;
    width: 65%;
    border-radius: 15px;
    z-index: 10;
    display: none;
}