@import '_variables.scss';

.key-modal {
    animation: popUp .5s ease 0s 1 normal;
    background-color: #fdffdb;
    border: 3px solid black;
    border-radius: 15px;
    bottom: 0;
    height: 30%;
    left: 0;
    margin: auto;
    overflow: scroll;
    padding: 35px;
    position: absolute;
    right: 0;
    top: -165px;
    width: 65%;
    z-index: 10;
    .button-container {
        align-items: right;
        display: flex;
        justify-content: flex-end;
    }
    button {
        border: 2px solid black;
        border-radius: 50%;
        background-color: $lightgrey;
    }
}
