@import 'variables.scss';
@import 'normalize.css';
@import 'App.scss';
@import 'GameContainer.scss';
@import 'ProgressBar.scss';
@import 'TerminalCard.scss';
@import 'AllCommandsModal.scss';
@import 'KeyModal.scss';
@import url('https://fonts.googleapis.com/css?family=Sarpanch');
@import url('https://fonts.googleapis.com/css?family=Share+Tech');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

* {
    font-family: $regular-font;
    font-size: 20px;
    letter-spacing: .75px;
}

// general
.hide {
    display: none;
}

// colors
.skyblue {
    color: $skyblue;
}

// buttons
button {
    cursor: pointer;
    &:focus {
        outline: 0;
    }
}

// icons
.fa-angle-double-right {
    color: $skyblue;
}
.fa-hand-point-right {
    font-size: 25px;
    margin-right: 10px;
}
.fa-key {
    font-size: 25px;
    margin-right: 10px;
}
.fa-flag-usa {
    font-size: 30px;
}
.fa-arrow-right {
    margin-right: 10px;
}

// modals
.modal-title {
    color: $skyblue;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}
.modal-list {
    line-height: 30px;
}