@import 'variables.scss';
@import 'normalize.css';
@import 'App.scss';
@import 'GameContainer.scss';
@import 'ProgressBar.scss';
@import 'TerminalCard.scss';
@import 'AllCommandsModal.scss';
@import 'KeyModal.scss';
@import url('https://fonts.googleapis.com/css?family=Sarpanch');
@import url('https://fonts.googleapis.com/css?family=Share+Tech');

* {
    font-family: $regular-font;
    font-size: 20px;
    letter-spacing: .75px;
}

.hide {
    display: none;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: 600;
}

.skyblue {
    color: $skyblue;
}
.modal-title {
    text-decoration: underline;
    font-weight: 600;
    font-size: 22px;
    color: $skyblue;
}
.modal-list {
    line-height: 30px;
}