@import '_variables.scss';

.progress-container {
    display: flex;
    justify-content: space-between;
    .tank-container {
        animation: bobbing .35s infinite ease-in-out alternate;
    }
    @keyframes bobbing {
        0%{
            transform: rotate(0) translateY(0);
        }
        100%{
            transform: rotate(0.1deg) translateY(3px);
        }
    }
    .tank-img {
        height: 100px;
        transition-duration: 2s;
        position: relative;
    }
    .star-img {
        height: 60px;
        margin-right: 12px;
        margin-top: 25px;
    }
    .pulse {
        animation: pulse 3s infinite;
        background: #cbb05375;
        border-radius: 50%;
        box-shadow: 0 0 0 rgba(204,169,44, 0.4);
        cursor: pointer;
        display: block;
        width: 30px;
        height: 30px;
        &:hover {
            animation: none;
        }
    }
    @-webkit-keyframes pulse {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        }
        70% {
            -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        }
        100% {
            -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        }
    }
    @keyframes pulse {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
            box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        }
        70% {
            -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
            box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        }
        100% {
            -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
            box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        }
    }
}
