@import '_variables.scss';

.terminal-card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    color: rgb(30, 198, 30);
    background-color: black;
    padding: 10px;
    p {
        line-height: 10px;
    }
    input {
        text-align: center;
        width: 540px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .score {
        color: #f47d4e;
    }
    .command-instructions {
        text-decoration: underline;
        color: #00b8d2;
    }
}