@import '_variables.scss';

.terminal-card {
    align-items: center;
    background-color: black;
    color: $neongreen;
    display: flex;
    flex-flow: column;
    height: 26vh;
    justify-content: center;
    padding: 10px;
    p {
        line-height: 10px;
    }
    input {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 380px;
    }
    .score {
        color: $lightred;
    }
    .command-instructions {
        color: $neonblue;
        text-decoration: underline;
    }
    .congrats-message {
        font-size: 35px;
    }
    .fa-flag-usa {
        font-size: 30px;
    }
    .fa-arrow-right {
        margin-right: 10px;
    }
}